@page "/About"
@{
    ViewData["Title"] = "Om företaget";
 }
 <div class="">
     <h1>Om företaget</h1>
     <p>
         Friberg Car Rentals grundades 2024 och arbetar med att hyra ut finbilar till intresserade.
     </p>
     <p>
         Innehar F-Skatt, org nummer 356911924.
     </p>
     <p>
         Postadress:
         Bilvägen 96<br />
         99900 Bilstaden
    </p>
    <p>
         Telefonnummer:
         555-140240340
     </p>
 </div>
