@page "/About"
@{
    ViewData["Title"] = "About the company";
 }
 <div class="">
     <h1>About the company</h1>
     <p>
         Friberg Car Rentals was founded in 2024 and is in the business of<br /> renting out classic cars to people interested in this type of cars.
     </p>
     <p>
         We have F-Skatt, number 356911924.
     </p>
     <p>
         Postal address:
         Bilvägen 96<br />
         99900 Bilstaden
    </p>
    <p>
         Phone:
         555-140240340
     </p>
 </div>
