@page
@model FribergCarRentalsRazorPageEdition.Pages.AdminModel
@{
}
<h2>Welcome @Model.userName</h2>

@if(Model.isAdmin != null)
{
    <p><a asp-page="/Users/Index">Kundregister</a></p>
    <p><a asp-page="/Cars/Index">Bilregister</a></p>
    <p><a asp-page="/Bookings/Index">Bokningar</a></p>
}
else if (Model.userName == null){
    Redirect("./Login");
}
else
{
    string url = HttpContext.Request.Path;
    TempData["url"] = url;
    <p>This is not an admin account, try again.</p>}

