@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <img alt="aicars" src="images/aicars_thin.jpg" />
    <h1>Welcome to Fribergs Car Rentals!</h1>
    <p>
        Here you can rent your dream car for an affordable price! 
        Click on 'CARS TO HIRE' in the menu above to see the cars available!
    </p>
</div>
