@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <img alt="aicars" src="images/aicars_thin.jpg" />
    <h1>Välkommen till Fribergs Car Rentals!</h1>
    <p>
        Här kan du hyra din drömbil för ett överkomligt pris. Klicka på 'Bilar att hyra'
        i menyn ovan för att se utbudet.
    </p>
</div>
