@page
@model FribergCarRentalsRazorPageEdition.Pages.LogOutModel
@{
    ViewData["Title"] = "LogOut";
}
<h4>Log out</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Log out" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>