<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsRazorPageEdition</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsRazorPageEdition.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="topbar">
            <p class="pagetitle">
                Friberg Car Rentals
                <img alt="logotype" src="~/images/logo_small_transp2.png" style="float: right" />
            </p>
            <div class="menuitem">
                <a asp-page="/Index">Home</a>
            </div>
            <div class="menuitem">
                <a asp-page="/Cars/Index">Cars to hire</a>
            </div>
            <div class="menuitem">
                <a asp-page="/About">About the company</a>
            </div>
            <div class="menuitem">
                <a asp-page="/Login">Log in</a>
            </div>
            <div class="menuitem">
                <a asp-page="/Logout">Log out</a>
            </div>
            <div class="menuitem">
                <a asp-page="/Bookings/Index" asp-route-onlyUsers="true">My bookings</a>
            </div>
            <div class="menuitem">
                <a asp-page="/Admin" asp-route-onlyUsers="true">Admin</a>
            </div>
        </div>
        <!-- No more float left -->
        <div style="clear:both;"></div>
        @ViewData["LoginName"]
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="bottombar">
            &copy; 2024 - Friberg Car Rentals
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>