@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.ConfirmationModel
@{
}
<h2>Confirmation: Thanks for your booking!</h2>

<h4>@TempData["Message"]</h4>

<a asp-page="../Cars/Index">Back to List</a>
