@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
    //string url = HttpContext.Request.Path;
    //TempData["url"] = url;

}

<h1>Book @Model.Make @Model.Model</h1>

<hr />
<div class="row" style="display: @Model.BookingFormVisibility;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post">
            <table>
                <tr>
                <td>
                    <label asp-for="Booking.StartDate" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.StartDate" type="date" data-val="true" class="form-control" value=@Model.Date />
                    <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
                </td>
                </tr>
                <tr>
                <td>
                    <label asp-for="Booking.StopDate" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.StopDate" type="date" data-val="true" class="form-control" value=@Model.DateTomorrow />
                    <span asp-validation-for="Booking.StopDate" class="text-danger"></span>
                </td>
                </tr>
                <tr>
                    <td></td>
                <td>
                    <input type="submit" value="Book" class="btn btn-primary" />
                </td>
                </tr>
            </table>
                <input type="hidden" asp-for="Booking.CarId" value=@Model.Id/>
                <input type="hidden" asp-for="Booking.BookingDate" value=@Model.Date />
                <input type="hidden" asp-for="Booking.UserEmail" value=Booking.UserEmail />
                <input type="hidden" asp-for="UserEmail" value=@Model.UserEmail />
        </form>
    </div>
</div>

<div>
    <a asp-page="../Cars/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
