@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit booking</h1>

<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
        <input type="hidden" asp-for="Booking.ID" />
        <input type="hidden" asp-for="Booking.Customer" />

        <table>
            <tr>
                <td>
                    <label asp-for="Booking.UserEmail" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.UserEmail" class="form-control" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Booking.StartDate" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.StartDate" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Booking.StopDate" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.StopDate" class="form-control" />
                </td>
            <span asp-validation-for="Booking.StopDate" class="text-danger"></span>

            </tr>
            <tr>
                <td>
                    <label asp-for="Booking.CarId" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.CarId" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Booking.BookingDate" class="control-label"></label>
                </td>
                <td>
                    <input asp-for="Booking.BookingDate" class="form-control" readonly/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </td>
            </tr>
        </table>
</form>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
